.main {
    flex: 1 0 auto;
}

.wrap {
    height: 100%;
    width: var(--width-wrap);
    padding: 5px 0px;
    margin: 0 auto;
}

.league_container {
    margin: 0.5em auto;
    display: block;
    text-align: center;
}

.title {
    display: inline;
    font-size: 1.3em;
    font-weight: 700;
    margin: 0.2em 0.5em 0.5em;
}