.match {
    display: flex;
    border: 1px solid var(--color-main-gray);
    width: 100%;
    padding: 0.3em 1em;
}

.match:nth-child(2n) {
    background-color: var(--color-main-gray02);
}

.matchPart_1 {
    display: flex;
    width: 40%;
}

.block {
    padding: 0 1em;
}

.winner {
    font-weight: 700;
}

.matchday {
    width: 20%;
}

.status {
    width: 40%;
}

.utcDate {
    width: 40%;
}

.matchPart_2 {
    display: flex;
    width: 60%;
}

.homeTeam {
    width: 40%;
}

.score {
    width: 20%;
}

.awayTeam {
    width: 40%;
}