.footer {
    width: 100%;
    background-color: var(--color-main-gray);
    color: #fff;
    flex: 0 0 auto;
}

.wrap {
    height: 100%;
    width: var(--width-wrap);
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.05em;
    transition: all ease-in-out 0.3s;
}

.link:hover {
    color: var(--color-main-accent);
}