.nav {
    display: block;
    height: 40px;
    width: min-content;
    margin: 0 auto;
    background-color: var(--color-main-gray08);
    border-top: 5px solid var(--color-main-accent);
    color: #fff;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 5;
}

.wrap {
    height: 100%;
    width: var(--width-wrap);
    display: flex;
    margin: 0 auto;
}

.nav_burger {
    display: none;
}

.list {
    display: flex;
    list-style-type: none;
    height: 100%;
    position: relative;
    left: -10px;
}

.list_item {
    padding: 0 0.5em;
    height: 100%;
    transform: skewX(-20deg);
    background-color: var(--color-main-gray);
    border-left: 2px solid #fff;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.list_item:hover {
    border-bottom: 5px solid var(--color-additional-accent);
}

.list_item:first-child {
    padding-left: 2em;
}

.list_item:last-child {
    background-color: transparent;
}

.list_item:last-child:hover {
    border-bottom: 5px solid transparent;
}

.navlink,
.last {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5em;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    height: 100%;
    transform: skewX(20deg);
    transition: all ease-in-out 0.3s;
}

.last {
    cursor: default;
    font-weight: 700;
}

.navlink_active {
    color: var(--color-additional-accent);
}

@media (max-width: 1420px) {
    .nav {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .nav_burger {
        display: none;
    }
    .nav_btn {
        display: block;
        margin: auto 5px;
        cursor: pointer;
        border: 2px solid #fff;
        border-radius: 5px;
        font-size: 14px;
        color: #fff;
        background: transparent;
        font-weight: 700;
        letter-spacing: 0.2em;
        text-align: center;
    }
    .nav_burger {
        z-index: 4;
        position: relative;
        padding: 5px 8px 5px 36px;
    }
    .nav_burger span,
    .nav_burger::before,
    .nav_burger::after {
        display: block;
        position: absolute;
        height: 2px;
        width: 22px;
        background-color: #fff;
        margin: 0 auto;
        left: 8px;
        transition: all 0.5s ease 0s;
    }
    .nav_burger span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .nav_burger::before,
    .nav_burger::after {
        content: '';
    }
    .nav_burger::before {
        top: 6px;
    }
    .nav_burger::after {
        bottom: 6px;
    }
    .nav_burger.menu_button__active span {
        transform: scale(0)
    }
    .nav_burger.menu_button__active::before {
        top: 50%;
        transform: rotate(45deg) translate(0px, -50%);
    }
    .nav_burger.menu_button__active::after {
        bottom: 50%;
        transform: rotate(-45deg) translate(0px, 50%);
    }
    .list {
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.90);
        padding: 150px 20px 30px;
        transition: left 0.4s ease 0s;
        overflow: auto;
        display: block;
    }
    .list_hide {
        left: -100%;
    }
    .list_item {
        padding: 0.8em;
        height: initial;
        border: 1px solid #fff;
        transform: skewX(0deg);
        margin-bottom: 5px;
    }
    .list_item:first-child {
        padding-left: 0;
    }
    .list_item:last-child:hover {
        border: 1px solid #fff;
    }
    .navlink,
    .last {
        padding: 0.5em;
        height: initial;
        transform: skewX(00deg);
    }
}

@media (max-width: 768px) {
    .list {
        padding: 130px 20px 30px;
    }
}

@media (max-width: 600px) {
    .list {
        padding: 120px 20px 30px;
    }
}

@media (max-width: 480px) {
    .list {
        padding: 110px 20px 30px;
    }
}