:root {
    --color-main-gray: rgb(128, 127, 133);
    --color-main-gray08: rgba(128, 127, 133, 0.8);
    --color-main-accent: rgb(255, 209, 1);
    --color-additional-accent: rgb(250, 5, 5);
    --width-wrap: 1400px;
}

#root,
html,
body {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-wrap: break-word;
}

input,
button,
textarea,
select {
    font: inherit;
}

.App {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}