.main {
    flex: 1 0 auto;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    width: calc(var(--width-wrap) + 20px);
    margin: 5px auto;
    padding: 0 -10px;
}