.nav {
    display: block;
    height: 40px;
    width: min-content;
    margin: 0 auto;
    background-color: var(--color-main-gray08);
    color: #fff;
}

.wrap {
    height: 100%;
    width: var(--width-wrap);
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin: 0 auto;
}

.list {
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    height: 100%;
}

.list_item {
    height: 100%;
}

.navlink {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    background-color: var(--color-main-gray);
    width: 200px;
    height: 100%;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    transition: all ease-in-out 0.3s;
}

.navlink:hover {
    border-bottom: 5px solid var(--color-additional-accent);
}

.navlink_active {
    background-color: var(--color-additional-accent);
}